<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/app.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
<div class="container" id="imageContainer">
    <div th:each="book : ${books}" id="images">
        <h2 th:text="${book.title} ">Book Title</h2>
        <a th:href="'/book/' + ${book.title}">
            <img th:src="'/photos/' + ${book.getFormattedTitleForImage()} + '.jpg'"/>
        </a>
        <form th:action="checkoutbook" method="get" ><input name="checkout" type = "submit" value="checkout book?"/> </form>
    </div>
</div>
</body>
</html>