<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/app.css}" rel="stylesheet"/>
    <title>Book Details</title>

</head>
<body>
<a href="/genres/">Genres</a>
<a href="/available/">Available</a>
<div  class="container" id="imageContainer">
    <div id = "images">
        <h1 th:text="'Book Title: ' + ${book.title} ">Book Title</h1>
        <h2 th:text="'Author ' + ${book.author}">Author</h2>
        <h3 th:text="${book.getCheckoutStatus()} ">Check out date</h3>
        <img th:src="'/photos/' + ${book.getFormattedTitleForImage()} + '.jpg'"/>
    </div>

</div>

</body>
</html>