<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src ="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css"></script>
</head>
<body>

<h1>Welcome to the Library!</h1>
<div th:each="book : ${books}" class ="container">
<h1 th:text="'Book Title:' + ${book.title} ">Book Title</h1>
<h2 th:text="'Author' + ${book.author}">Author</h2>
    <h3 th:text="'Check out date' + ${book.checkOutDate} ">Check out date</h3>
<img th:src="'/photos/' + ${book.getFormattedTitleForImage()} + '.jpg'" />

</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>