<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/app.css}" rel="stylesheet"/>
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!--<script src ="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css"></script>-->
</head>
<body>


<div>
    <a href="/genres/">Genres</a>
</div>

<h1 id="title">Welcome to the Library!</h1>
<div class="container" id="imageContainer">
    <div th:each="book : ${books}" id="images">
        <h2 th:text="${book.title} ">Book Title</h2>
        <a th:href="'/book/' + ${book.title}">
            <img th:src="'/photos/' + ${book.getFormattedTitleForImage()} + '.jpg'"/>
        </a>
    </div>

</div>

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
<!-- jQuery library -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!-- Latest compiled JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
</body>
</html>